<div class="container">
  <p>
      <button id='previous' (click)='previous()' class="btn btn-med">previous</button>
    <button id='button-1' (click)=changeAtt($event) class="btn btn-med active">CLICK 1</button>
    <button id='button-2' (click)=changeAtt($event) class="btn btn-med">CLICK 2</button>
    <button id='button-3' (click)=changeAtt($event) class="btn btn-med">CLICK 3</button>
    <button id='next' (click)='next()' class="btn btn-med">next</button>
  </p>
  <H4 id="test">this is a test</H4>
</div>
